# pandas2

Let's import pandas!

In [ ]:
import pandas as pd

#### If you are using Google Colab, you must run the next line of code. *If you are NOT using Google Colab, do NOT run the next line.*

In [ ]:
!wget https://raw.githubusercontent.com/aGitHasNoName/pandasBasics/main/forestfires.csv

<br><br>We're going to work with a new dataframe. This is a dataset from forest fires in NE Portugal. I have included the dataset as a csv file in today's materials, but the data is available publicly at this site: https://archive.ics.uci.edu/ml/datasets/Forest+Fires

<br><br>Everyone can now run the next line of code to create a DataFrame from our csv file.

In [ ]:
df = pd.read_csv("forestfires.csv")

In [ ]:
df.head()

Take a look at the new dataframe to get to know our data.

How many rows and columns are in our data?

## <br><br><br>PART THREE: RENAMING COLUMNS, DROPPING ROWS AND COLUMNS, SORTING DATA, AND SAVING DATAFRAMES

### <br>Renaming columns

Here's what our column names look like in the forest fire dataset:

In [ ]:
df.head()

Four of the columns end in "\_code". Let's remove that part from the column names. We can use the `rename()` method. We need to pass the function a **dictionary** of the old name to be replaced as the key and the new name as the value.

In [ ]:
df.rename(columns = {"moisture_code": "moisture", 
                     "fuel_code": "fuel"})

In [ ]:
df.head()

Uh-oh, the change didn't stick. We've encountered this before with strings, so we know the answer - reassign it to a variable.

In [ ]:
df = df.rename(columns = {"moisture_code": "moisture", 
                          "fuel_code": "fuel"})

In [ ]:
df.head()

### <br><br>Exercise 1

Write code to remove "\_code" from the ends of the drought and initial_spread column names:

In [ ]:
df.head()

### <br><br><br>Dropping rows and columns

Let's drop a single row from the DataFrame. How about row 2? You still have to assign `df` to a variable to make the change permanent:

In [ ]:
df = df.drop(2)

In [ ]:
df.head()

<br>The index numbers did not reset when we dropped a row. 2 is missing!

We can reset the index and pretend like 2 was never there. The `reset_index()` function takes one keyword argument. If we don't pass the argument, `drop=True`, an extra column will get added to our DataFrame containing the old index numbers. Let's first reset the index without passing the argument, but we won't save that DataFrame:

In [ ]:
df.reset_index()

You can see that new column `index` contains the original index positions. Now let's save a new version of our DataFrame, with the indexes reset, but without that new column:

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df.head()

<br><br><br>The `drop()` function defaults to dropping rows. If we want to drop a column, we need to add one more argument. `axis=1` is used in pandas to refer to columns as opposed to rows (`axis=0`). The `axis` argument is used elsewhere in pandas, too. Let's drop the "X" column:

In [ ]:
df = df.drop("X", axis=1)

In [ ]:
df.head()

### <br><br>Exercise 2

Write code to view the last 5 rows of the DataFrame:

Now write code to drop the very last row:

In [ ]:
df.tail()

Write code to remove the "Y" column:

In [ ]:
df.head()

### <br><br><br>Sorting a DataFrame

There are two functions for sorting your DataFrame.

If you want to sort by the index numbers, or if you want to sort by the column names (alphabetically), you use `sort_index`. It can take two arguments: the axis to sort by (row or column) and the order (ascending or not):

The default arguments are to sort by row index with 0 at the top, which is how we've already been viewing the data:

In [ ]:
df.sort_index()

Let's try more arguments:

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_index(axis=1)

In [ ]:
df.sort_index(axis=1, ascending=False)

<br><br><br>The second sort function, `sort_values()`, will sort the frame by the data in a column:

In [ ]:
df.sort_values("area_burned")

In [ ]:
df.sort_values("day")

### <br><br>Exercise 3

Write code to sort the DataFrame by the rain column, with the largest values at the top:

<br><br><br>You can also sort on multiple values by passing the `sort_values` function a list of column names instead of a single name. If we want to first sort by day, then by area burned:

In [ ]:
df.sort_values(["day", "area_burned"])

### <br><br><br>Saving your changed DataFrame

We've made a lot of changes to the forest fire dataset. Let's save it as a new csv file. First, we can decide what we're going to call the new file:

In [ ]:
new_filename = "fire_changed.csv"

Next, we can use the `to_csv()` method function to save the new file:

In [ ]:
df.to_csv(new_filename)

### <br><br>Exercise 4

Remember what you learned from Part Two: Selecting Data. Create a new dataframe called df_rain that contains only the columns day, month, and rain:

Run the next line of code to save a new filename for the rain dataframe:

In [ ]:
rain_filename = "forestFiresRain.csv"

Write code to save the df_rain dataframe as a csv file:

## <br><br><br>PART FOUR: DATA AGGREGATION

Data aggregation means taking many data points and reducing them to one number, whether it's a count, sum, mean, or other single statistic. Here are some DataFrame method functions:

- [`.count()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html)
- [`.sum()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html)
- [`.mean()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html)
- [`.median()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html)
- [`.min()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.min.html)
- [`.max()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html)
- [`.unique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)
- [`.nunique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html)
- [`.std()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html)   #Standard error
- [`.var()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.var.html)   #Variance
- And more! https://pandas.pydata.org/docs/reference/series.html#computations-descriptive-stats

If you use a method function on the entire dataset, it will try its best to execute the method for all columns.

In [ ]:
df.count()

In [ ]:
df.min()

In [ ]:
df.sum()

In [ ]:
df.unique()

<br>Not all functions will work on the entire DataFrame. Most of the time you are interested in only a subset of the data:

In [ ]:
df["day"].unique()

In [ ]:
list(df["day"].unique())

In [ ]:
df["month"].nunique()

In [ ]:
df["temp"].var()

### <br><br>Exercise 1

Write code to find the mean humidity of the dataset:

Write code to find the coldest temperature in the dataset:

## <br><br>groupby

Often, you will want to calculate the statistics for a particular subgroup of a data column.

For example, let's say we want to ask if more fires happen on certain days of the week. This code will tell you the count for every column in the DataFrame except the column that you are using to group your data (i.e. "day").

In [ ]:
df.groupby("day").count()

<br>We can make this easier to read by sorting the rows from lowest count to highest count. We can string multiple method functions onto our code, as long as they go in the correct logical order. We will pick any column to sort on, since they are all the same.

In [ ]:
df.groupby("day").count().sort_values("X")

<br>It looks like weekends have more fires than weekdays.

### <br><br>Exercise 2

Write code to find the mean for all the columns when grouped by month.

<br><br><br><br>If you only want to see an aggregate total for one column in the DataFrame, you can add on the indexing technique we learned yesterday. With this code I will ask, What is the mean area burned on each day of the week?

In [ ]:
df.groupby("day")[["area_burned"]].mean()

<br>Again, we can also sort the data:

In [ ]:
df.groupby("day")[["area_burned"]].mean().sort_values("area_burned")

<br>So Saturday fires are the most destructive fires.

<br>We can also add some other functions to our code, like round:

In [ ]:
df.groupby("day")[["area_burned"]].mean().round(2).sort_values("area_burned")

### <br><br>Exercise 3

Write code to count how many fires happened in each month (as a bonus, sort the results):

Write code to see the mean area burned for fires in each month (as a bonus, round and sort the results):

## <br><br><br>PART FIVE: BASIC PLOTTING

Pandas allows you to make some basic plots without loading other packages. Plotting in pandas is good for exploring your data, and we'll focus on that today.
<br><br>Pandas is not good for making good-looking, high-quality data visualizations. The Python library for that is called matplotlib. We will not be covering how to make data visualizations for publication, since this is not a matplotlib workshop.
<br><br>Pandas' plotting capabilities are actually built on matplotlib, but in a much simpler format.

### <br><br>Histograms

One of the most common data exploration tasks you might do is to check the distributions of the columns in your dataset.

We will use the `hist()` method function on the `temp` column.

In [ ]:
df["temp"].hist()

<br><br>Like I said, it's not pretty, but it tells us the story of our data.

By default, `hist()` will divide the data into 10 bins. We can change that by passing a keyword argument:

In [ ]:
df["temp"].hist(bins=20)

### <br><br>Exercise 1

Make a histogram of the `humidity` column. Specify that you want the data grouped into 15 bins.

<br><br><br>Another way to create a histogram in pandas is to do:

In [ ]:
df.hist(column="temp")

<br>Both ways are doing the same thing. In one, we're making a histogram on a sample of our dataframe. In the second, we're calling `hist()` on the entire dataframe and then specifying the column with an argument.

<br>If we don't specify a column, we will get histograms of all columns with numerical data:

In [ ]:
df.hist()

<br>We can also ask for a list of columns:

In [ ]:
df.hist(column=["temp", "humidity"])

### <br><br>Exercise 2

In one line of code, create histograms for the `moisture_code` and `drought_code` columns.

**<br><br><br>What other changes can we make to our histogram?**

Let's look at the documentation. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.hist.html

<br>We can get rid of the grid lines!

In [ ]:
df.hist(column="temp", grid=False)

<br>We can also change the figure size. The `figsize` keyword argument takes a list containing two numbers: width in inches and height in inches.

### <br><br>Exercise 3

Remember this plot?

In [ ]:
df.hist()

<br>Change the figure size in the next line of code until you can see the plots better:

In [ ]:
df.hist(grid=False, figsize=[2,2])

## <br><br><br>Scatter plots to check for correlation

We can make a quick scatter plot to check for correlation between 2 columns. We have to use a slightly different format for our scatter plot function. We are going to do `df.plot.scatter()`. This function requires two arguments, the columns for your x and y axes.

In [ ]:
df.plot.scatter(x="temp", y="humidity")

### <br><br>Exercise 4

Write code to create a scatter plot with the moisture_code column on the x-axis and the drought_code column on the y-axis.

Based on what we learned with `hist()`, can you add a grid to the scatter plot you just made and change the size so that it is a perfect square?

## <br><br><br>Slightly more complicated examples

### <br>Removing Outliers

Let's look at the correlation between humidity and area_burned:

In [ ]:
df.plot.scatter(x="humidity", y="area_burned")

<br>We can see that a few outliers are clouding any relationship. We can remove them with a boolean, but we need to look at the plot above and decide where to make the cutoff. Let's try getting rid of only points above 400.

In [ ]:
df_no_outliers = df[df["area_burned"] < 400]

In [ ]:
df_no_outliers.plot.scatter(x="humidity", y="area_burned")

<br><br>There are a large number of points with 0 for area_burned. Let's remove those, and only look at days where the fires spread.

In [ ]:
df_no_outliers = df[(df["area_burned"] > 0) & (df["area_burned"] < 400)]

In [ ]:
df_no_outliers.plot.scatter(x="humidity", y="area_burned")

### <br><br><br>Plotting with categorical data

Let's say we want to see the relationship between month and humidity. We can try a scatter plot:

In [ ]:
df.plot.scatter(x="month", y="humidity")

<br>That doesn't work! Let's try another type of plot - a bar plot:

In [ ]:
df.plot.bar(x="month", y="humidity")

<br>Also not what we're looking for. It's plotting each data point individually.

What we really want to see is how the mean humidity changes each month. We can create a new DataFrame that only includes the data we need. We will group by month, select only the humidity column, and then find the mean.

In [ ]:
hum_mean = df.groupby("month")["humidity"].mean()
hum_mean

<br>Now we have a nice series object that we can plot:

In [ ]:
hum_mean.plot.bar()

<br>This is looking better, but we need to sort them by month, not alphabetically. We're going to worry about that in just a minute.

### <br><br>Exercise 5

Create a bar graph that shows mean temperature grouped by month. First you'll need to create a new series object with the means. Refer back to the humidity exercise directly above.

<br><br><br>Let's deal with the sorting issue! We can create a new column in our DataFrame that contains a numerical value for the month. We will use a handy pandas function called `replace()`. It takes two arguments: a list of items to replace, and a list of the replacement values in the same order:

In [ ]:
df["month_num"] = df["month"].replace(["jan", "feb", "mar", "apr", 
                          "may", "jun", "jul", "aug", 
                          "sep", "oct", "nov", "dec"], 
                         [1, 2, 3, 4, 5, 6, 7, 8, 9, 
                          10, 11, 12])
df.head()

<br>Now we will repeat the humidity plot we just did, but we will group by the new column.

In [ ]:
hum_mean = df.groupby("month_num")["humidity"].mean()
hum_mean.plot.bar()

## <br><br><br>Other packages for exploring data

There are a few packages that have been created to help you visualize your data during the data exploration step without writing the code for yourself. They also have their limitations, however.

- pandas-profiling (gives in-depth summaries about your dataset) (I've been having trouble with the installation/dependencies lately)
- sweetviz (designed as exploration prior to machine learning, so it requires you to split your data into train and test and select a target variable)

Both packages cover:
- data type, unique values, missing values
- Quantile statistics like minimum value, Q1, median, Q3, maximum, range, interquartile range
- Descriptive statistics like mean, mode, standard deviation, sum, median absolute deviation, coefficient of variation, kurtosis, skewness
- Histograms
- Correlations of variables
- Missing values matrix, count, etc.