# pandas

- Pandas is one of the most commonly used Python packages/libraries/modules for data science.<br><br>
- Pandas is Python's answer for making two dimensional tables (ala Excel and SQL).<br><br>
- Pandas calls a table a "DataFrame".<br><br>
- Pandas DataFrames are used by Python's other packages for statistical analysis, data manipulation, and data visualization.<br><br>
- Pandas DataFrames can be exported as .csv and other files.<br><br>

The pandas syntax isn't very instinctual. Some of the syntax will differ from basic Python. I still have to look a lot of things up in pandas, if it's something I don't do very often. However, it is the tool for working with spreadsheets in Python, so you'll need to learn it at some point.<br><br>
Pandas is written as more of a *functional* language than basic Python. This means that instead of manipulating objects, we'll be applying more functions across our data.

#### <br>Why do we work with Jupyter Notebooks for data science?

Jupyter Notebooks allow us to view nicely formatted output (such as pandas DataFrames and data visualizations) directly below the code used to create the object. They also allow you to scroll through large DataFrames or images.

#### <br>NumPy arrays
This week is going to focus on the Python package Pandas. However, Pandas (and many other Python packages) are built on NumPy arrays. NumPy is another Python module, and NumPy arrays are multi-dimensional datasets made up entirely of numerical data. They allow for much faster calculations than other basic Python objects. If you work with large numerical datasets, you will also want to look into the NumPy package. NumPy arrays do not have the features that many of us want to work with, such as column headers and the ability to work with non-numerical data; that's why pandas is so popular.

## <br><br><br>Importing pandas

Because pandas is one of the most commonly used Python packages, it often gets imported as a shortened version of it's actual name. This makes it quicker to type.

In [ ]:
import pandas as pd

Pandas comes with the Anaconda distribution of Python and is available on Google Colab.

## <br><br><br>PART ONE: LOADING AND VIEWING DATAFRAMES

### <br>Opening files from your computer

#### If you are using Google Colab, you must run the next line of code. *If you are NOT using Google Colab, do NOT run the next line.*
Google Colab requires you to load data files into your workspace by hand (or by using this trick to pull them in from github).

In [ ]:
!wget https://github.com/Milan-Chicago/Introduction-to-Python/blob/main/Day%205%20Pandas/wnba-team-elo-ratings.csv
!wget https://github.com/Milan-Chicago/Introduction-to-Python/blob/main/Day%205%20Pandas/pigeonRacing.txt
!wget https://github.com/Milan-Chicago/Introduction-to-Python/blob/main/Day%205%20Pandas/zoo.xlsx

### <br><br><br>Loading a csv file

We will use the function `pd.read_csv()`. As a reminder, when we use a function from an imported module, we first give the module's name, followed by a dot, followed by the function name.
<br><br>This will automatically create a **DataFrame** object, which we are saving as `df`. `df` is a common variable name for a DataFrame. You can open the file, define it as a Pandas DataFrame, assign it to a variable, and close the file in one line. (Already we're seeing the differences from basic Python).

In [ ]:
df = pd.read_csv("wnba-team-elo-ratings.csv")

<br><br>Our sample dataset was taken from FiveThirtyEight. It contains game data for WNBA games since 1997.

### <br><br><br>Viewing the DataFrame

In [ ]:
df

<br>Take a minute to look at the data. The DataFrame will have a slightly different look on Colab and Jupyter, and on different versions of Jupyter.
<br><br>The number at the beginning of each row is called an **index**. The index was automatically assigned by pandas when the dataset was loaded. It was not in the original csv file. It is merely a series of consecutive numbers going down the rows. The rows were loaded in whatever order they were in the csv file.

If you are working in Google Colab, there is a new feature that lets you magically convert your DataFrame into an interactive table. We're NOT going to use that feature, though you can feel free to explore it on your own time.

<br><br>There are ways to view pieces of the DataFrame. Try these to see what they do:

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(2)

In [ ]:
df.sample()

In [ ]:
df.sample(6)

### <br><br><br>Loading other types of files

We can open a tab-separated file using the same function we used to open a csv. We just have to pass a second argument, a **keyword argument**, to tell it that the delimiter is a tab instead of the default (comma). This dataset contains rankings of profressional racing pigeons.

In [ ]:
pigeon_df = pd.read_csv("pigeonRacing.txt", delimiter="\t")

In [ ]:
pigeon_df.head()

<br><br>We will use a different function to open an Excel file. This file has information about animals and has two sheets within the excel file. We will first load sheet 1 and then sheet 2. We have to pass the `read_excel()` function one extra argument to specify the sheet:

In [ ]:
zoo_df = pd.read_excel("zoo.xlsx", sheet_name=0)

In [ ]:
zoo_df.head()

In [ ]:
zoo_class_df = pd.read_excel("zoo.xlsx", sheet_name=1)

In [ ]:
zoo_class_df.head()

### <br><br>Exercise 1

Try to load two or three files from your own computer into pandas. Try with at least two different file types (csv, tab-delimited, excel). You can copy and paste the files into today's workshop folder, or you can open them by using the full path to the file (for example, "\~/Documents/myfolder/myfile.xlsx" or "\~\Documents\myfolder\myfile.csv").

<br>**If you are using Google Colab**, you will need to upload the files to Colab yourself. You can do this by clicking on the folder on the left menu. You should see a file tree come up that includes sample_data. Right click anywhere in this space and choose upload to upload your own files.

### <br><br><br>Getting basic info about the DataFrame

You can use the `len()` function to find out how many rows are in a DataFrame object:

In [ ]:
len(df)

<br>The `describe()` method will give you some very basic stats about each column in your DataFrame:

In [ ]:
df.describe()

<br>The `shape` attribute will return the number of rows and columns as a tuple. An attribute gives us some stored data about an object - it is not a method function, so it does not get parentheses.

In [ ]:
df.shape

You can even save the shape tuple as an object, in case you need to include it in any code:

In [ ]:
df_shape = df.shape

In [ ]:
print("Our DataFrame has " + str(df_shape[0]) + " rows and " + str(df_shape[1]) + " columns.")

<br>The `size` attribute will tell you the total number of elements in the DataFrame (size = rows x columns):

In [ ]:
df.size

<br>To return a list of the column names, you can start with the `columns` attribute:

In [ ]:
df.columns

Hmm. That looks strange because it is a pandas object. You can make it into a list so that it is easier to work with:

In [ ]:
column_names = list(df.columns)
print(column_names)

<br>To find out the data types of the data found in each column, use the `dtypes` attribute:

In [ ]:
df.dtypes

<br>To **transpose** a DataFrame (swap the rows and columns), you also use an attribute. Let's transpose `zoo_df`:

In [ ]:
zoo_df.T

<br>Let's see if that changed our DataFrame object:

In [ ]:
zoo_df

<br><br>It didn't change! DataFrames are **immutable objects** like strings and numpy arrays. To save the transposed DataFrame, we would have to reassign it to a variable:

In [ ]:
zoo_df_t = zoo_df.T
zoo_df_t

### <br><br>Exercise 2

Write code to create a list of column names from `zoo_df`:

Write code to return the data type for each column in `zoo_df`:

## <br><br><br>PART TWO: SELECTING DATA

There are multiple ways to select data in pandas. You will need to learn all of the ways because you will see these techniques being used in other people's code and in answers to your pandas questions when you search online.
<br><br>We will cover:
- Selecting columns using DataFrame indexing
- Selecting rows based on a boolean condition using DataFrame indexing
- Selecting columns, rows, and individual data points with `loc` and `iloc`
- Selecting individual data points with `at` and `iat`
*You cannot select individual data points using indexing.*

We will work with the WNBA game data. Let's look at it again:

In [ ]:
df.head()

### <br><br>Selecting columns or rows using indexing

To create a DataFrame with only some columns, you use indexing, and you pass it a list of the columns that you want to include:

In [ ]:
my_columns = ["season", "team1", "team2"]
df[my_columns]

<br>OR you could just include the list inside the indexing. This creates two sets of square brackets, which looks a little silly, but it works!

In [ ]:
df[["season", "team1", "team2"]]

<br>If you want to return just one column as a DataFrame, you still use the list inside the index:

In [ ]:
df[["date"]]

### <br><br>Exercise 1

Here's a reminder of what the DataFrame looks like:

In [ ]:
df.head()

Write code to return the name1, name2, and is_home1 columns:

Write code to return the playoff column:

<br><br><br>If you only index the column name, without putting it in a list, you get a different type of pandas object - the **Series** object.

In [ ]:
df["date"]

<br>A Series object only returns the values from one column. It can be turned into a list, which is very convenient:

In [ ]:
date_list = list(df["date"])
print(len(date_list))
print(type(date_list))
print(date_list[0:5])

<br>**A Series object is a one-dimensional object, while a DataFrame is a two-dimensional object. A Series can be turned into a list, while a DataFrame can be indexed based on row number, so they both have their uses.**

### <br><br>Exercise 2

Write code to return a list of data in the prob1 column:

In [ ]:
prob_data =

In [ ]:
print(len(prob_data))
print(type(prob_data))

### <br><br><br>Selecting rows using indexing

If we want to return a DataFrame with only some **rows**, we can index a range. DataFrame indexing uses regular Python indexing, so we ask for the first item we want, and then a colon, and then we go one position past the last item we want.

In [ ]:
df[0:10]

<br>Because this indexing is referencing the position of the row in the DataFrame, not the index number, we an use negative indexing in either spot to count from the bottom of the DataFrame.

In [ ]:
df[495:-12]

<br>If you only want a single row, you still need to use indexing with a `:`:

In [ ]:
df[4:5]

### <br><br>Exercise 3

Write code to return row number 9,999.

Write code to return the second row in our DataFrame.

### <br><br><br>Selecting data with a boolean

To return a DataFrame that only has rows that meet a certain condition, we use this syntax. The outer `df[]` lets Python know that you want the answer to be returned as a DataFrame, meaning you can return all the columns included in the output. Inside the indexing, we include our boolean statement, which usually means we need to index a particular column in the dataset to filter the data on.

In [ ]:
df[df["team1"] == "LVA"]

In [ ]:
df[df["score1"] > 100]

### <br><br>Exercise 4

Write code to return a DataFrame that only includes games that were playoff games (playoff games are coded as 1 in that column):

Write code to return a DataFrame that only includes games where score2 was greater than 100:

<br><br><br>If you don't use the outer `df[]` the return is a Series object that returns the boolean value for each row based on the condition you set:

In [ ]:
df["team1"] == "LVA"

### <br><br><br>Combining boolean indexing with column indexing

You can also combine a boolean with column indexing to return only some columns for your filtered data. Here I am returning only the team2, score1, and score2 columns for any rows with "CHI" in the team1 column.

In [ ]:
df[df["team1"] == "CHI"][["team2", "score1", "score2"]]

### <br><br>Exercise 5

Write code to return all the games that were played in the 2017 season. Return only columns for date, team1, and team2.

<br><br><br>**Using the indexing method, we cannot refer to individual rows by name or pull up individual cells in our DataFrame.**

In [ ]:
df[25]

### <br><br><br>pandas loc

The `loc` **attribute** allows us to call up certain rows and columns. The syntax is:

#### `df.loc[row, column]`

#### `df.loc[list of rows, list of columns]`

#### `df.loc[range of rows, range of columns]`

`loc` can take a row, a list of rows, or a range of rows, followed by a comma, and then a column, list of columns, or range of columns. <br><br>If you want all the rows or all the columns, you can use a `:`. <br><br>**The rows that we refer to here are the row names (index names) that are found in bold on the far left of our DataFrame.**

<br>To reference one cell:

In [ ]:
df.loc[25, "date"]

<br>All rows for one column:

In [ ]:
df.loc[:, "team1"]

<br>All columns for one row:

In [ ]:
df.loc[12, :]

### <br><br>Exercise 6

The very first game played by the Chicago Sky is in the row with index 6427.

Write code to return all columns in that row:

Did the Chicago Sky play their very first game at home or away? Write code to return the data in the column "is_home1" for that row:

*(1 is True and 0 is False)*

### <br><br>`loc` with a range and a list

This code will return all columns for the rows 0 through 10.

In [ ]:
df.loc[0:10, :]

<br>**Unlike Python indexing, `loc` is referencing the rows by their index names, so row 10 is included.**

<br><br>We can also ask for a range of columns, from left to right:

In [ ]:
df.loc[0:10, "season":"name2"]

<br><br>Again, `loc` uses the column and row names, not their positions, so this will not work:

In [ ]:
df.loc[0:10, 0:4]

<br><br>We can also pass a list of rows or columns:

In [ ]:
df.loc[[0, 10, 8], ["team1", "score1", "team2", "score2"]]

*Notice how the returned DataFrame used the same order given in the lists.*

### <br><br>Exercise 7

Run the following cell to store the list of row indexes for the first 5 games played by the Chicago Sky:

In [ ]:
first5 = [6427, 6415, 6393, 6387, 6371]

Write code to return the rows for the first 5 Chicago Sky games, and return only the columns "team2", "score1", "score2", and "is_home1":

### <br><br>`loc` with a conditional

You can use a conditional to filter rows. The conditional is written the same way as we would write it without using loc:

In [ ]:
df.loc[df["team1"] == "CHI", :]

<br><br>Here I use the same filter for the rows, but I only ask for three columns to be returned:

In [ ]:
df.loc[df["team1"] == "CHI", ["team2", "score1", "score2"]]

### <br><br>Exercise 8

Write code to return all games played in the 2012 season. Only return the columns "date", "name1", and "name2".

### <br><br><br>pandas `iloc`

**While `loc` searches by row and column names, `iloc` searches only by the indexed positions in the DataFrame.**

Here, I'm asking for the top 10 rows and the first four columns:

In [ ]:
df.iloc[0:10, 0:4]

<br>**Notice that `iloc` uses Python indexing!** When we ask for rows 0:10, it returns rows 0 to 9. Also notice that the index (the bold number on the left side of each row) does not count as a true column.

<br>Because `iloc` uses Python indexing, we can use negative numbers:

In [ ]:
df.iloc[0:-5000, 4:-10]

### <br><br>Exercise 9

The games are included in reverse chronological order, so the last row in the table is the very first game ever played.

Was the very first game played at home or away for team1? Use iloc to return the column "is_home1" for the very last row in the DataFrame:

Use iloc to write code to return the columns "team1" and "team2" for the most recent 20 games:

### <br><br><br>pandas `at` and `iat`

If you are looking for the contents of only a single cell (called a **scalar**) in the DataFrame, you can use `loc` or `iloc`:

In [ ]:
df.loc[0, "season"]

In [ ]:
df.iloc[0, 0]

<br>However, there is another set of pandas functions designed to look up only a single cell. `at` will look up a single cell by row name and column name (like `loc`), and `iat` will look up a single cell by index position (like `iloc`).

Why does pandas have a separate way to look up a single cell? Because `at` and `iat` are very fast. If you write code to look up 10,000 single points in a DataFrame, it would be much faster to use `at` or `iat` than `loc` or `iloc`.

In [ ]:
df.at[0, "season"]

In [ ]:
df.iat[0, 0]

<br><br>Just to reiterate, `at` and `iat` cannot be used with multiple rows or columns:

In [ ]:
df.at[0, ["season", "date"]]

### <br><br>Exercise 10

Use `at` to write code to find out if the game in row 5485 was played at home or away:

Now use `iat` to find the same answer:

### <br><br>A note about index labels

The bold numbers on the far left of each column were assigned to each row when the csv file was originally loaded into pandas.

In [ ]:
df.head()

<br>If we make a new DataFrame out of only some rows, the index labels will stay the same, leaving gaps. Let's make a new DataFrame that only includes games played by the Chicago Sky:

In [ ]:
CHIdf = df.loc[df["team1"] == "CHI", :]
CHIdf.head()

<br>I can now use `iloc` to get Chicago's most recent 30 games:

In [ ]:
CHIdf.iloc[0:30, :]

<br>But I could not use `loc` to get the same thing:

In [ ]:
CHIdf.loc[0:30, :]

<br>You can, however, set one of your columns as the index labels:

In [ ]:
CHIdf = CHIdf.set_index("date")

In [ ]:
CHIdf.head()

<br>Now I can use `loc` to reference the games by date:

In [ ]:
CHIdf.loc["9/13/2012", :]

<br><br>I can still use a range of row labels:

In [ ]:
CHIdf.loc["9/13/2012":"5/19/2012", :]

<br>If you've been wondering why referencing rows by index numbers would ever be useful, now you can set your index names to any unique value that would be useful to you - a sample ID, a name, a date, etc.

### <br><br>Exercise 11

Using the CHIdf, write code (use either `loc` or `at`) to find out which team Chicago played against on 6/16/2017:

### <br><br><br>Searching for multiple conditionals in pandas

Let's say we want to search through the original DataFrame, `df`, for all games played by the Chicago Sky where the Chicago Sky won. For each of these games, we want to return only the columns for season and the name of the opposing team.

The conditional for only Chicago Sky games is:
<br>`df["team1"] == "CHI"`
<br><br>The conditional for games that Chicago won is:
<br>`df["score1"] > df["score2"]`

We might try to use Python operators (`and`, `or`, `not`):

In [ ]:
df.loc[df["team1"] == "CHI" and df["score1"] > df["score2"], ["season", "name2"]]

<br><br>**However, pandas uses the operators `&`, `|`, `!` for and, or, and not. Pandas also requires you to include each conditional inside parentheses.**

In [ ]:
df.loc[(df["team1"] == "CHI") & (df["score1"] > df["score2"]), ["season", "team2"]]

### <br><br>Exercise 12

Use `loc` to return rows in the DataFrame that were played in either the 1999 or 2000 seasons. For each row, return all columns:

Has Chicago ever played in any playoff games? Return rows that have CHI in the "team1" column and 1 in the "playoff" column. Only return the columns "season", "team2", and "date":

## <br><br><br>PART THREE: *OPEN UP THE NOTEBOOK PANDAS2.IPYNB*

We don't want our notebook to get too slow as we continue to work with additional dataframes.